.banner {
    width: 100%;
    height: 100vh;
}

.background {
    background-color: bisque;
}

.banner-title {
    font-size: 56px;
}

.banner-cover-img {
    width: 100%;
    height: 450px;
    background-color: aqua;
}